<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Tracker</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">
    <h2>Crypto Tracker & Alert</h2>

    <form action="/track" method="post">
        <input type="text" name="coins"
               placeholder="Example: bitcoin, ethereum, dogecoin"
               required>
        <button type="submit">Track</button>
    </form>
</div>

</body>
</html>
